$primary: #ff2f2f;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

$body-bg: $light;
$body-color: $dark;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

@import "../node_modules/bootstrap/scss/bootstrap";

main {
  min-height: 100vh;
}

body {
  font-family: Arial, sans-serif;
  padding: 0px;
}

header {
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  padding: 20px 0;
  background-color: #f8f9fa;
}

img {
  width: 200px;
  height: 200px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.carousel-inner img {
  height: 400px;
  object-fit: cover;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.btn-custom-primary {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: #ffffff;
  background-color: $primary;
  border: 2px solid $primary;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: #a70000;
    border-color: #940000;
    color: #ffffff;
  }
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.bg-image {
  background-image: url("/images/fast_food.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;

  .bg-text {
    position: relative;
    z-index: 1;
    padding: 20px;
    color: #fff;
    text-align: center;
  }
}

.bg-custom-primary {
  background: $primary;
}

.navbar {
  display: flex;
  justify-content: center;
}

.navbar-brand {
  height: 100px;
  width: 100px;
}

.navbar-nav .nav-link {
  font-size: 24px;
  padding: 10px 20px;
}

.navbar-toggler {
  font-size: 24px;
}

.navbar-collapse {
  justify-content: center;
}

.navbar-nav .nav-item {
  padding: 10px;
}

.navbar-nav .nav-item .nav-link svg {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}

.category {
  margin-bottom: 30px;
}

.category h2 {
  text-align: center;
}

.category .food-items {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.food-item {
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.food-item img {
  max-width: 100%;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.food-item img:hover {
  transform: scale(1.05);
}
